{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ customer_record.first_name }} 
		{{ customer_record.last_name }}</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Project name: </strong>{{ customer_record.name }}</p>

<p class="card-text">
<strong>Intro: </strong>{{ customer_record.intro }}
</p>

<p class="card-text">
<strong>Status: </strong>{{ customer_record.status }}</p>

<p class="card-text">
<strong>End date: </strong>{{ customer_record.start_datetime }}</p>

<p class="card-text">
<strong>Start date: </strong>{{ customer_record.end_datetime }}</p>

<p class="card-text">
<strong>Zipcode: </strong>{{ customer_record.project_members }}</p>    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>
		

{% endblock %}